body{
    position:absolute;
    background-color: lightblue;
}

canvas{
    width: 5in;
    height: 3in;
    border: 1px solid black;
}

h1{
    position: relative;
    font-family: cursive;
    left: 5.7in;
    font-weight: 600;
}

a{
    position: relative;
    padding: 20px;
    color: white;
    background-color: black;
    text-decoration: none;
    top: 70px;
    border-radius: 5px;
    transition: all 0.5s;
    flex-direction: column-reverse;
}
a:hover{
    background-color: red;
    color: black;
}

textarea{
    position: relative;
    width: 3in;
    height: 50px;
    left: 66.5ch;
    bottom: 20px;
}

button{
    position: relative;
    padding: 18px;
    left: 6in;
    bottom: 40px;
}

input{
    position: relative;
    padding: 18px;
    left: 4.2in;
    bottom: 40px;
}

p{
    position: relative;
    left: 5in;
    bottom: 20px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: larger;
}

img{
    position: relative;
    left: 5in;
}